ADF/Pipelines/DynamicGitToRaw.json
{"$schema":"http://schema.management.azure.com/schemas/2015-01-01/deploymentTemplate.json#","contentVersion":"1.0.0.0","parameters":{"factoryName":{"type":"string","metadata":"Data Factory name"},"StorageDataLake":{"type":"string"},"httpLinkedService":{"type":"string"}},"variables":{"factoryId":"[concat('Microsoft.DataFactory/factories/', parameters('factoryName'))]"},"resources":[{"name":"[concat(parameters('factoryName'), '/DynamicGitToRaw')]","type":"Microsoft.DataFactory/factories/pipelines","apiVersion":"2018-06-01","properties":{"activities":[{"name":"ForEachGit","type":"ForEach","dependsOn":[{"activity":"LookupGit","dependencyConditions":["Succeeded"]}],"userProperties":[],"typeProperties":{"items":{"value":"@activity('LookupGit').output.value","type":"Expression"},"isSequential":true,"activities":[{"name":"DynamicCopy","type":"Copy","dependsOn":[],"policy":{"timeout":"0.12:00:00","retry":0,"retryIntervalInSeconds":30,"secureOutput":false,"secureInput":false},"userProperties":[],"typeProperties":{"source":{"type":"DelimitedTextSource","storeSettings":{"type":"HttpReadSettings","requestMethod":"GET"},"formatSettings":{"type":"DelimitedTextReadSettings"}},"sink":{"type":"DelimitedTextSink","storeSettings":{"type":"AzureBlobFSWriteSettings"},"formatSettings":{"type":"DelimitedTextWriteSettings","quoteAllText":true,"fileExtension":".txt"}},"enableStaging":false,"translator":{"type":"TabularTranslator","typeConversion":true,"typeConversionSettings":{"allowDataTruncation":true,"treatBooleanAsNumber":false}}},"inputs":[{"referenceName":"ds_git_dynamic","type":"DatasetReference","parameters":{"p_rel_url":{"value":"@item().p_rel_url","type":"Expression"}}}],"outputs":[{"referenceName":"ds_sink_dynamic","type":"DatasetReference","parameters":{"p_sink_folder":{"value":"@item().p_sink_folder","type":"Expression"},"p_sink_filename":{"value":"@item().p_sink_filename","type":"Expression"}}}]}]}},{"name":"LookupGit","type":"Lookup","dependsOn":[],"policy":{"timeout":"0.12:00:00","retry":0,"retryIntervalInSeconds":30,"secureOutput":false,"secureInput":false},"userProperties":[],"typeProperties":{"source":{"type":"JsonSource","storeSettings":{"type":"AzureBlobFSReadSettings","recursive":true,"enablePartitionDiscovery":false},"formatSettings":{"type":"JsonReadSettings"}},"dataset":{"referenceName":"ds_git_parameters","type":"DatasetReference","parameters":{}},"firstRowOnly":false}}],"policy":{"elapsedTimeMetric":{}},"annotations":[]},"dependsOn":["[concat(variables('factoryId'), '/datasets/ds_git_parameters')]","[concat(variables('factoryId'), '/datasets/ds_git_dynamic')]","[concat(variables('factoryId'), '/datasets/ds_sink_dynamic')]"]},{"name":"[concat(parameters('factoryName'), '/ds_git_parameters')]","type":"Microsoft.DataFactory/factories/datasets","apiVersion":"2018-06-01","properties":{"linkedServiceName":{"referenceName":"[parameters('StorageDataLake')]","type":"LinkedServiceReference"},"annotations":[],"type":"Json","typeProperties":{"location":{"type":"AzureBlobFSLocation","fileName":"git.json","fileSystem":"parameters"}},"schema":{"type":"object","properties":{"p_rel_url":{"type":"string"},"p_sink_folder":{"type":"string"},"p_sink_filename":{"type":"string"}}}},"dependsOn":[]},{"name":"[concat(parameters('factoryName'), '/ds_git_dynamic')]","type":"Microsoft.DataFactory/factories/datasets","apiVersion":"2018-06-01","properties":{"linkedServiceName":{"referenceName":"[parameters('httpLinkedService')]","type":"LinkedServiceReference"},"parameters":{"p_rel_url":{"type":"String"}},"annotations":[],"type":"DelimitedText","typeProperties":{"location":{"type":"HttpServerLocation","relativeUrl":{"value":"@dataset().p_rel_url","type":"Expression"}},"columnDelimiter":",","escapeChar":"\\","firstRowAsHeader":true,"quoteChar":"\""},"schema":[]},"dependsOn":[]},{"name":"[concat(parameters('factoryName'), '/ds_sink_dynamic')]","type":"Microsoft.DataFactory/factories/datasets","apiVersion":"2018-06-01","properties":{"linkedServiceName":{"referenceName":"[parameters('StorageDataLake')]","type":"LinkedServiceReference"},"parameters":{"p_sink_folder":{"type":"String"},"p_sink_filename":{"type":"String"}},"annotations":[],"type":"DelimitedText","typeProperties":{"location":{"type":"AzureBlobFSLocation","fileName":{"value":"@dataset().p_sink_filename","type":"Expression"},"folderPath":{"value":"@dataset().p_sink_folder","type":"Expression"},"fileSystem":"bronze"},"columnDelimiter":",","escapeChar":"\\","firstRowAsHeader":true,"quoteChar":"\""},"schema":[]},"dependsOn":[]}]}